*{
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 4px solid rgb(255, 255, 255);
    height: 80px;
} 
.logo_img{
    width: 53px;
   height: 36px;
}
.logo_container{
    padding: 20px ;
    padding-left: 16px;
    margin-right:4% ;  
}
.nav_bar{
    min-width: 500px;
    display: flex;
    justify-content: space-evenly;
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    text-decoration: 0;
    color:#282c3f;
    /* padding-left: 13px; */
    font-weight: 700;
    padding: 28px 0;
    text-transform: uppercase;
    border-bottom: 5px solid white;
    
}
.nav_bar a:hover{
    border-bottom:4px solid #f54e77;
}
.nav_bar a sup{
    color: red;
    font-size: 10px;
}


.search_bar{
   min-width: 200px;
   width: 30%;
   display: flex;
    height: 40px;
    align-items: center;
 
}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;

    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}



.search_text_area{
    height: 40px;
    min-width: 300px;
    /* width: 30%; */
    background-color: #f5f5f6;
    flex-grow: 1;
    font-weight: 300;
    border-radius: 0 4px 4px 0;
    border: 0; 
    color: #696e79;
    
   
}




.action_bar{
    display: flex;
    /* flex-direction: column; */
   min-width: 200px;
    justify-content: space-evenly;
}
/* .action_bar{
    margin-right: 4%;
} */

.icon{
    
    height: 24px;
    width: 24px;
}
.action_name{
    font-size: 12px;
    font-weight: 700;
} 
 .action_container{
    display: flex;
    flex-direction: column;
    align-items: center;

 }




 .banner_container{
    margin: 40px 0;
 }

 .banner_image{
    width: 100%;
 }

 .category{
    margin: 30px 0;
 }

 .category_long_image{
    width: 100%;
 margin: auto;    
}
.category_container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
}
.category_image{
    height: 200px;
    margin: 20px;
}
.offer_banner_container{
  margin: 30px 0;
}
.offer_banner{
    width: 100%;
    margin: auto;
}

.sale_item{
    height: 222px;
    margin-left:14px ;
}

.category_heading{
    text-transform: uppercase;
    color: #282c3f;
    margin:50px 0 10px 30px ;
    font-weight: 700;
    letter-spacing: .15em;
    font-size: 1.8em;
    
}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}